@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --red: #e0565b;
    --yellow: #ffffd6;
    --dark: #2e2e48;
    --brown: #3f3f1a;
    --light: #fafafc;
    --gray: #efeff5;
    --white: #fff;
    --sidePadding: 3rem;
    --maxWidth: 40%;
    --containerWidth: 1200px;
  }

body {
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 640px) {
  .h-map {
    height: calc(100vh - 86px);
  }
}